<div>
  <h1>Realiza tu consulta en nuestro chat On-line</h1>
  <form>
    <input type="email" name="email" id="email" placeholder="E-mail" />
    <input type="text" name="message" id="message"/>
    <button type="submit" id="submitButton"> Enviar </button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</div>