<div>
  <h1>Login</h1>
  <form id="loginForm">
    <label>Email *</label>
    <input name="email" required="true"/>
    <br />
    <label>Contraseña *</label>
    <input type="password" name="password" required="true"/>
    <input type="submit" />
  </form>
  <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
  <p>¿Tienes cuenta de Github? <a href="/github/login">Haz login por Github</a></p>
</div>
<script src="/js/login.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>